//SCSS
// On indique d'abord la largeur de notre élément conteneur
.wrap {
  @include container (1120px);
}

.content {
  @include span(8);   // Indique à Susy que content fait 8 colonnes
}

// Le sidebar fait 4 colonnes et c'est le dernier élément de la rangée:
.sidebar {
  @include span(4 last);
}
