/*
***************** SUSY GRID CONFIG **********************
*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*
***************** HELPERS **********************
*/
/*
 ***************** BASE **********************
*/
.wrap {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto; }
.wrap:after {
  content: " ";
  display: block;
  clear: both; }

.content {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%; }

.sidebar {
  width: 32.20339%;
  float: right;
  margin-right: 0; }

/* LINKS */
a, a:visited {
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

a:hover, a:active, a:focus {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

/*
 ***************** UI **********************
*/
